/* Stilovi za Login formu */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background: linear-gradient(to right, #ff3366, #ff0055);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
  color: #333;
}

.login-form input:focus {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 8px rgba(255, 51, 102, 0.3);
}

.login-form button {
  padding: 12px 24px;
  background-color: #fff;
  color: #ff3366;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #ff0055;
  color: #fff;
}

.login-form .error-message {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

.login-form .decoration {
  height: 4px;
  background: linear-gradient(to right, #fff, #ff3366);
  margin-bottom: 20px;
}

/* Dodatni stilovi */
body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links li {
  display: inline;
  margin-left: 10px;
}

.nav-links li:first-child {
  margin-left: 0;
}
  
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content p:first-child {
  font-weight: bold;
}
.posts {
  display: grid;
  grid-gap: 20px;
  margin: 5%;
}

.post {
  background-color: #cfe9ff;
  padding: 20px;
  border-radius: 5px;
}

.comments-section {
  margin-top: 20px;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment {
  background-color: #fffbdb;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.likes {
  margin-top: 10px;
  font-weight: bold;
}
